.main_chat
  .main_chat__top
    .main_chat__top--head_left
      = @group.name
      .group_member
        Member : 
        = @group.users.pluck(:name).join(", ")
    .main_chat__top--edit
      = link_to edit_group_path(@group), class: "edit_btn" do
        Edit
        
  .main_chat__center
    = render @messages

  = form_for [@group, @message] do |f|
    .main_chat__message
      .form
        .box
          = f.text_field :content, class: "box__text", placeholder: 'type a message'
          = f.label :image, class: "box__image" do
            = icon('fas','image')
            = f.file_field :image, class: "box__image--icon"
        = f.submit "Send", class: "send"